{{ form_start(form) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{ form_row(form.client) }}
  
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
